.mainContentWrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.headerImage {
    background-image: url(../images/headerImage_college_books.jpg);
    background-repeat: no-repeat;
    width: auto;
    height: 410px;
    margin-top: -200px; /* Consider using margin-top instead of padding-top */
}

.headerWrapper {
    width: 100%;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lightskyblue;
}

.navBarList li {
    list-style: none;
    display: inline-block;
    width: 200px;
}

.navBarList a {
    text-decoration: none;
    padding: 17px;
}
